#container{
    background-color: darkslategray;
    border: black;
    border-radius: 20%;
    margin 0 auto;
    /* width: 70%; */
}

body{
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    color: olive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p{
    color: gray;
    font-size: 15px;
}
